h1{
    color:aqua;
    display: inline;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    

}
div{
    border: 1px solid;
    display: inline;
}
.flex-container{
 display:flex;
}